<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> `
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Todoapp</title>
</head>
<body>
    <div class="container" align="center">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" align="center" href="#">MY TODO LIST</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
              </ul>
              
            </div>
          </nav>
    </div>

    <div class="container" align="center">
        <table class="table table-bordered table-striped table-hover table-warning">
            <tbody>
            <thead class="table-danger">
                <th><h4>TASK</h4></th>
                <th><h4>ACTION</h4></th>
            </thead>
            {% for i in all_items %}
            <tr>
                <td><h4>{{i.task}}</h4></td>
                <td><h4 align="right"><a href="/delete/{{i.id}}" class="btn btn-outline-danger">DELETE</a></h4></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <form  method="POST" action="/add/">
            {% csrf_token %}
          <div class="row">
              <div class="col-md-6">
                <input type="text" name="task" id="" class="form-control" placeholder="Enter your task here..."><br>
                <input type="submit" name="" value="submit" id="" class="btn btn-outline-success">
              </div>
          </div>
        </form>
    
    
     </div>
    
    
    </body>
    </html>

